/* CSS Stylesheet for Javascript Turing machine simulator */

body {
  text-align: center;
  
  font-family: sans-serif;
}

.BoxTitle {
  position: relative;
  top : 12px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 15px;
  display: inline; 
  background-color: #eeeeee;
  background: solid;
  border: 1px solid grey;
  font-family: sans-serif;
//  font-variant: small-caps;
  font-size: small;
  z-index: 3;
}

#Machine {
  border: 1px dashed red;
/*  background-color: #dfdfda;*/
  background-color: #ffe1e1;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
/*  height: 10em; */
  text-align: center;
}


#MachineTape {
  background-color: #eee8aa;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  font-size: x-large;
  margin-bottom: 1em;
}


.tape {
  display: inline;
  font-family: "Courier New", courier;
  padding: 0;
  margin: 0;
}

#LeftTape {
  text-align: right;
}

#RightTape {
  text-align: left;
}

#ActiveTape {
  color: red;
  border: 1px solid LightGrey;
  font-weight: bold;
  background-color: #bbf8ff;
}

#ActiveTapeArea {
  position: relative;
  display: inline;
  padding: 0;
  margin: 0;
}

#RunningTapeDisplay {
  overflow: auto;
  height: 2.5em;
}

#InitialTapeDisplay {
  display: inline;
}

.MachineStatusContainer {
  text-align: center;
  width: 100px;
  position: relative;
  top: -1em;
  margin: 0;
  padding: 0;
}

.MachineStatusBox {
  border: 1px solid grey;
  padding-top: 12px;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-top: 5px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
/*  text-align: center; */
  font-family: "Courier New", courier;
  background-color: #C9F2C9;
}


#MachineStateContainer {
  float: left;
}

#MachineStepsContainer {
  float: right;
}

#MachineMiddleSection {
  text-align: center;
  height: 4em;
  position: relative;
  width: 100%;
}

#MachineStatusMessagesContainer {
  text-align: center;
  width: 60%;
  height: 3em;
  display: inline;
  position: relative;
  font-size: larger;
}

#MachineLowerSection {
  position: relative;
}


#MachineControlBlock {
  width: 300px;
  float: right;
}

#MachineProgramContainer {
  text-align: center;
  width: 100%;
  position: relative;
//  top: -2em;
}

#MachineProgramBlock {
  padding-top: 8px;
  text-align: center;
  overflow: hidden;
}

#MachineProgramBlock2 {
  padding: 4px;
  display: inline-block;
}

#MachineButtonsBlock {
  height: 100%;
  text-align: left;
  margin-left: 10px;
  border: 1px solid grey;
  padding: 4px;
  margin-top: 4px;
  padding-top: 12px;
  background: #dedede;
}

#LoadBlock {
}

button {
  min-width: 75px;
}

#MachineHead {
  position: absolute;
/*  left: -50%; */ /* Note: This works properly on Firefox but not on Chrome, IE - due to bugs? */
  left: -9px; /* Using this because of Chrome, IE bugs - see above */
  top: 100%;
  width: 32px;
/*  display: none; */
}

/* Triangle using css tricks */
.HeadTop {
  height: 10px;
  width: 0px;
}

/* Arrow outline */
.HeadTop:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 10px solid #333333;
}

/* Arrow interior */
.HeadTop:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top:1px;
  margin-left:2px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 9px solid #ff9933;
}

.HeadBody {
  width: 32px;
  height: 14px;
  text-align: center;
  font-size: small;
  background: #ff9933;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
}




/** Miscellaneous **/
#IntroText {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  margin-bottom: 0.2em;
}

#SyntaxInfo {
  text-align: left;
  margin-left: 2em;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.backlinks {
  text-align: center;
  margin-bottom: 0.2em;
}

.Signature {
  text-align: right;
  font-style: italic;
  font-size: smaller;
}

#debugOuter {
  clear: both;
}

.DebugClass {
  display: none;
}

.clear {
  clear: both;
}

.disabled {
  color: grey;
}

.cleardiv {
  clear: both;
  height: 0px;
}